body {
  background-image: url('./static/back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

header {
  position: static;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

h1 {
  color: white;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item {
  padding: .5rem .25rem;
  background-color: transparent;
  border: none;
  color: white;
  border-bottom: 1px solid white;
  margin: .25rem;
  transition: .3s;
}

.menu-item:hover {
  color: pink;
  border-color: pink;
}

.logo {
  stroke: white;
  fill: white;
}

input:focus{
  outline: none;
}



.form-item {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.stylized {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 10px 0px;
  margin: .5rem;
  color: white;
}

.form-input {
  background-color: transparent;
  width: 325px;
  color: #eeeeee;
  outline: none;
  outline-style: none;
  border: none;
  border-bottom: solid #eeeeee 1px;
  padding: 0px 10px;
  margin: 0px 10px;
}

textarea {
  border-bottom: 1px solid #000;
}

.form-label {
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 10px;
  white-space: nowrap;
  overflow: hidden;
  transition: .3s;
}

select {
  background-color: transparent;
  color: #eeeeee;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #eeeeee 1px;
  padding: 0px 10px;
  margin: 0px 10px;
}

.blur {
  position: fixed;
  display: none;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}


.form-input:focus~.form-label
{
  border: none;
  top: -5px;
  font-size: 12px;
  margin-left: 20px;
}